header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.task-list li{
    display: none;
}

#add-task-text {
    display: flex;
}

#add-task-text p {
    margin: 10px
;}
    

#add-task-display {
    display: none;
}

#edit-task-display {
    display: none;
}

#edit-task-text {
    display: flex;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    border: 1px solid black;
    min-height: 100px;
    padding: 10px;
}